@media (max-width:768px){
    .itemDetail-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #9E9E9E;;
        font-family: "Varela Round";
        padding: 5%;
    }

    .itemDetail-Title{
        font-size: 30px;
        margin: 5%;
        text-align: center;
    
    }
    
    .itemDetail-Description{
        font-size: 18px;
        margin: 5%;
        text-align: center
    }
    
    .itemDetail-Price{
        font-size: 30px;
        margin: 5%;
        text-align: center;
    
    }
    
    .itemDetail-Button{
        display: flex;
        justify-content: center;
    }
    
    .itemDetail-Button:hover{
        transform: scale(1.1);
    }
}





@media (min-width: 768px) {
    


.itemDetail-Container{
    display: flex;
    flex-direction: row;
    padding: 5%;
    border: 2px solid #9E9E9E;;
    font-family: "Varela Round";
}

.itemDetail-Text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }

.itemDetail-Title{
    font-size: 30px;
    margin: 5%;
    text-align: center;

}

.itemDetail-Description{
    font-size: 18px;
    margin: 5%;
    text-align: center
}

.itemDetail-Price{
    font-size: 30px;
    margin: 5%;
    text-align: center;

}


}