.item-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;;
    border-radius: 5%;
    margin: 5%;
    padding: 5%;
    font-family: "Varela Round";
}

.item-Img{
    height: 50%;
    width: 50%;
}

.item-Title{
    font-size: 20px;
}

.item-Price{
    font-size: 20px;
    font-weight: 600;

}