.nav-bg {
    background-color: #F2F2F2;
    font-size: 20px;
    box-shadow: 5px 5px 5px 5px #9E9E9E;
    display: flex;
    justify-content: space-around;
    
}

.container_logo {
    display: flex;
    align-items: center;
    margin-right: 20%;
}

.logo {
    height: 100px
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    text-decoration: none;
}

.items {
    padding-left: 30px;
    text-decoration: none;
    color: #DA9ABD;
    letter-spacing: 2px;
    font-family: "Varela Round";
    font-weight: 500
}

.items:hover {
    color: black
}

.saleItem {
    margin-left: 30px ;
    padding: 10px;
    text-decoration: none;
    background-color: #DA9ABD;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Varela Round";
}

.saleItem:hover {
    color: black
}

.cartWidget-Container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20%;
}


@media (max-width: 992px){
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10%;
    }
    .cartWidget-Container{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
}