@media (max-width:576px) {}

.itemList {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:576px) {}

.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width:992px) {}

.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}